
#startBtn {
    display: none;
    position: absolute;
    z-index: 1000;
}


#reloadBtn {
    display: none;
    position: absolute;
    z-index: 100;
    background:none;
    border: none;
    outline:none;
}





